.LoginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .header {
    margin-bottom: 20px;
  }
  
  .logo {
    width:170px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
  }
  
  .login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  